.last-news-container .breacking-news {
  margin-bottom: 20px;
  background-color: var(--body-color);
  padding: 0;
  border-radius: 10px;
  display: flex;
  gap: 0;
  color: var(--font-color);
  align-items: stretch;
  box-shadow: 0 10px 10px -10px var(--transparent-color);
  transform: translateY(0);
}

.last-news-container .breacking-news h3 {
  font-weight: 600;
  font-size: 15px;
  background-color: var(--main-color);
  padding: 15px 25px;
  border-radius: 10px 0 0 10px;
  color: white;
  text-transform: uppercase;
  margin: 0;
  clip-path: polygon(0 0, 85% 0, 100% 100%, 0 100%);
  display: flex;
  position: relative;
  gap: 6px;
  align-items: center;
}
.last-news-container .breacking-news h3::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  position: relative;
  display: flex;
  animation: pulse-ring 1.5s infinite;
}

@keyframes pulse-ring {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  70% {
    box-shadow: 0 0 0 6px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

.last-news-container .breacking-news .ticker {
  flex: 1;
  overflow: hidden;
  padding: 15px 20px;
  background: var(--body-color);
  border-radius: 0 10px 10px 0;
}

.last-news-container .breacking-news .ticker .ticker-content {
  display: flex;
  gap: 35px;
  animation: ticker 18s linear infinite;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 400;
}

.last-news-container .breacking-news .ticker .ticker-content:hover {
  animation-play-state: paused;
}

.last-news-container .breacking-news .ticker a {
  display: flex;
  gap: 5px;
  align-items: center;
}

.last-news-container .breacking-news .ticker a::before {
  content: "";
  border: solid 5px;
  border-color: transparent transparent transparent var(--main-color);
}

.last-news-container .breacking-news .ticker a:hover {
  color: var(--main-color);
  font-weight: 600;
}

.last-news-container .last-news {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.last-news-container .last-news .main-news {
  flex: 300px;
  position: relative;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}
.last-news-container .last-news img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.last-news-container .last-news .main-news:hover img,
.last-news-container .last-news .sub-news:hover img {
  scale: 1.1;
}

.last-news-container .last-news article {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 30px;
  color: white;
  background: linear-gradient(to top, black, transparent);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 10px;
  cursor: pointer;
}
.last-news-container .last-news article h2:hover {
  text-decoration: underline;
}
.last-news-container .last-news .btns {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.last-news-container .last-news .btns a {
  padding: 5px 10px;
  border: none;
  text-transform: capitalize;
  color: white;
  border-radius: 20px;
  font-size: 14px;
}

.last-news-container .last-news .btns a {
  background-color: rgba(0, 0, 0, 0.205);
  border: solid 1px var(--font-color);
}

.last-news-container .last-news .btns .type {
  background-color: color-mix(in srgb, var(--main-color) 15%, transparent);
  color: var(--main-color);
  border: solid 1px var(--main-color);
}
.last-news-container .last-news .btns a:hover {
  background-color: black;
}
.last-news-container .last-news .btns .type:hover {
  background-color: var(--main-color);
  color: white;
}

.last-news-container .last-news .main-news h2 {
  font-size: 20px;
}
.last-news-container .last-news .main-news p {
  font-size: 15px;
}

.last-news-container .last-news .icons {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  opacity: 0.7;
  font-size: 14px;
}

.last-news-container .last-news .icons span {
  display: flex;
  align-items: center;
  gap: 5px;
}

.last-news-container .last-news .sub-news-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  flex: 200px;
}

.last-news-container .last-news .sub-news {
  flex: 300px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.last-news-container .last-news .sub-news img {
  height: 220px;
}

.last-news-container .last-news .sub-news article {
  padding: 20px 15px;
  gap: 15px;
}

.last-news-container .last-news .sub-news article button {
  padding: 10px;
  font-size: 12px;
}

.last-news-container .last-news .sub-news article h2 {
  font-size: 17px;
}

.last-news-container .last-news .sub-news .icons {
  gap: 10px;
  font-size: 13px;
  display: none;
}
.last-news-container .last-news .sub-news:hover .icons {
  display: flex;
}

@keyframes ticker {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.reports-container {
  cursor: grab;
}

.topics-container .topic {
  display: flex;
  gap: 15px;
  color: var(--font-color);
  background-color: var(--body-color);
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.topics-container .topic .img {
  flex: 200px;
  overflow: hidden;
  border-radius: 6px;
}
.topics-container .topic .img img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.topics-container .topic article {
  flex: calc(100% - 200px) 10;
}
.topics-container .topic article h3 {
  font-size: 17px;
  line-height: 1.4;
}
.topics-container .topic article p {
  font-size: 15px;
}
.topics-container .topic article .icons {
  display: flex;
  gap: 3px 15px;
  font-size: 14px;
  flex-wrap: wrap;
}
.topics-container .topic article .icons .icon {
  opacity: 0.6;
  display: flex;
  align-items: center;
  gap: 5px;
}
.topics-container .topic article .read-more {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-transform: capitalize;
  font-size: 14px;
  gap: 5px;
}
.topics-container .topic .category {
  padding: 4px 10px;
  background: var(--transparent-color);
  border: solid 1px var(--main-color);
  border-radius: 20px;
  color: var(--main-color);
  font-size: 14px;
  text-transform: capitalize;
}
.topics-container .topic:hover article .read-more {
  color: var(--main-color);
  gap: 10px;
}
.topics-container .topic:hover img {
  transform: scale(1.1);
}
.topics-container .topic:hover h3 {
  text-decoration: underline;
}

.documentaries {
  background-color: #080b0e;
}
.documentaries .main-title {
  color: white;
}
.documentaries .card-style-1 {
  background-color: #161619;
  color: white;
  border-color: #383838;
}
.documentaries .card-style-1 .card-footer {
  border-color: #383838;
  background-color: #111113;
}

.documentaries .documentary-container {
  margin-top: 30px;
}

.documentaries .documentary {
  display: flex;
  gap: 15px;
  color: white;
  flex-wrap: wrap;
  background-color: #111113;
  border-radius: 10px;
  overflow: hidden;
}

.documentaries .documentary .img {
  overflow: hidden;
  flex: 100px;
}
.documentaries .documentary img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.documentaries .documentary article {
  flex: calc(90% - 100px) 10;
  padding-block: 10px;
}
.documentaries .documentary article h3 {
  font-size: 16px;
  line-height: 1.5;
}

.documentaries .documentary article p {
  opacity: 0.8;
  font-size: 14px;
}

.documentaries .documentary article .icons {
  display: flex;
  font-size: 13px;
  opacity: 0.6;
  gap: 10px;
}

.documentaries .documentary:hover h3 {
  text-decoration: underline;
}
.documentaries .documentary:hover img {
  transform: scale(1.1);
}

.news-style-2 {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  color: var(--font-color);
  align-items: flex-start;
}

.news-style-2 .sub-news {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 10px;
  flex: 200px;
  margin-top: 20px;
}
.news-style-2 .sub-news > a:not(:last-of-type) {
  border-bottom: solid 1px var(--border-color);
  padding-bottom: 10px;
}

.news-style-2 .sub-news article {
  flex: calc(90% - 200px);
}
.news-style-2 .sub-news .icons {
  margin-top: 0;
  font-size: 11px;
  gap: 6px;
}
.news-style-2 .sub-news .icons .icon {
  gap: 3px;
}

.news-style-2 .sub-news h3 {
  line-height: 1.6;
  font-size: 14px;
  font-weight: 600;
}
.news-style-2 .sub-news > a:hover h3 {
  text-decoration: underline;
}

.news-style-2 .main-news {
  flex: 400px 5;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--body-color);
  cursor: pointer;
}

.news-style-2 .main-news .img {
  height: 400px;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}
.news-style-2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.news-style-2 .main-news:hover img {
  scale: 1.1;
}

.news-style-2 .main-news h3 {
  font-size: 16px;
  line-height: 1.5;
}
.news-style-2 .main-news p {
  font-size: 14px;
}

.news-style-2 .main-news .button {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 10px;
}
.news-style-2 .main-news .button .read-more {
  background-color: transparent;
  text-transform: capitalize;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--main-color);
  opacity: 0;
}

.news-style-2 .icons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 14px;
  flex: 1;
}
.news-style-2 .icons .icon {
  display: flex;
  align-items: center;
  gap: 5px;
  opacity: 0.6;
}

.news-style-2 .main-news:hover .read-more {
  opacity: 1;
}
.news-style-2 .main-news:hover h3 {
  text-decoration: underline;
}

.publications .main-news {
  background-color: var(--section-color);
}
