.post-section-name {
  text-transform: uppercase;
  display: flex;
  margin-bottom: 20px;
  gap: 10px;
  align-items: center;
  color: var(--main-color);
  -webkit-text-fill-color: var(--section-color);
  font-weight: 400;
  letter-spacing: 1px;
  -webkit-text-stroke: 1px var(--main-color);
  justify-content: center;
}

.post-section-name::before {
  content: "";
  height: 1.5px;
  background-color: var(--main-color);
  width: 20px;
}
.post-section-name::after {
  content: "";
  height: 1.5px;
  background-color: var(--main-color);
  width: 20px;
}

.post-filters .post-search {
  display: flex;
  align-items: center;
  gap: 20px;
}

.post-filters .post-search .search-inp {
  background-color: var(--body-color);
  border: solid 2px var(--border-color);
  border-radius: 20px;
  flex: 200px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: text;
  padding: 11px 15px;
}
.post-filters .post-search .search-inp input {
  background-color: transparent;
  border: none;
  flex: 1;
  color: var(--font-color);
}
.post-filters .post-search .search-inp svg {
  opacity: 0.6;
}

.post-filters .icons {
  display: flex;
  position: relative;
}

.post-filters .icons .post-sort {
  background-color: var(--body-color);
  position: absolute;
  top: 100%;
  min-width: 100%;
  border-radius: 5px;
  overflow: hidden;
  z-index: 2;
}

.post-filters .icons .post-sort h3 {
  font-weight: 500;
  text-transform: capitalize;
  font-size: 16px;
  padding: 4px 10px;
  cursor: pointer;
  line-height: 1.4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  white-space: nowrap;
}

.post-filters .icons .post-sort h3:hover,
.post-filters .icons .post-sort h3.active {
  background-color: var(--aside-color);
}

.filters-popup {
  width: 100%;
  max-width: 1000px;
}

.overlay .popup.filters-popup .filters-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.filters-popup .btns {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.post-filters h1 {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
}
.post-filters h1::before {
  content: attr(data-count);
  color: var(--main-color);
}

.post-filters .icons .post-sort h3 svg {
  font-size: 80%;
  color: var(--main-color);
}
.more-results-title {
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-block: 20px;
}
.more-results-title::before {
  flex: 1;
  content: "";
  height: 2px;
  background-color: var(--border-color);
}
.more-results-title::after {
  flex: 1;
  content: "";
  height: 2px;
  background-color: var(--border-color);
}

@media (max-width: 850px) {
  .post-filters h1 {
    font-size: 25px;
  }
  .post-filters .post-search .search-inp {
    padding: 10px;
  }
  .post-filters .icons .post-sort h3 {
    font-size: 14px;
    padding: 3px 8px;
  }
  .post-section-name {
    font-size: 24px;
  }
}

@media (max-width: 650px) {
  .post-filters .post-search .search-inp {
    padding: 8px;
    font-size: 14px;
  }
  .post-filters .post-search {
    gap: 15px;
  }
  .post-filters .icons .post-sort h3 {
    font-size: 13px;
    padding: 2px 7px;
  }
  .post-filters h1 {
    font-size: 22px;
  }
  .post-section-name {
    margin-bottom: 15px;
    font-size: 21px;
  }
}

@media (max-width: 500px) {
  .post-filters .post-search .search-inp {
    padding: 7px;
    font-size: 13px;
    border-width: 1px;
  }
  .post-filters .post-search .search-inp input {
    font-size: 11px;
  }
  .post-filters .post-search {
    gap: 10px;
  }
  .post-filters .icons .post-sort h3 {
    font-size: 12px;
    padding: 2px 5px;
  }
  .post-filters h1 {
    font-size: 20px;
  }
  .post-section-name {
    margin-bottom: 10px;
    gap: 5px;
    font-size: 19px;
  }
}

@media (max-width: 400px) {
  .post-filters h1 {
    font-size: 17px;
  }
  .post-section-name {
    font-size: 16px;
  }
  .post-filters .icons .post-sort h3 {
    font-size: 11px;
  }
}
