.dashboard-form .post-cover-img {
  background-color: var(--body-color);
  padding: 20px;
  border-radius: 10px;
}
.add-file-container {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  gap: 10px;
}
.add-file-container .add-btn {
  padding: 8px 10px;
  border-radius: 6px;
  cursor: pointer;
  border: solid 1px var(--border-color);
  background-color: var(--body-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  text-transform: capitalize;
  font-size: 14px;
}
.add-file-container .add-btn:hover {
  background-color: var(--main-color);
  color: white;
  border-color: transparent;
}
.post-inputs .file-actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.post-inputs .file-actions p {
  display: flex;
  align-items: center;
  gap: 5px;
  text-transform: uppercase;
}
.post-inputs .file-actions p svg {
  color: var(--main-color);
}
.post-inputs .add-survey-container {
  display: flex;
  gap: 5px;
  flex: 400px;
  align-items: flex-start;
}
.post-inputs .add-survey-container .survey-count {
  display: flex;
  background: var(--transparent-color);
  color: var(--main-color);
  padding: 5px;
  border: solid 1px var(--main-color);
  border-radius: 5px;
  font-size: 14px;
}

.post-tabs {
  display: flex;
  gap: 15px;
  text-transform: capitalize;
  border-bottom: solid 2px var(--border-color);
  position: relative;
  margin-bottom: 20px;
}
.post-tabs p {
  padding-bottom: 10px;
  padding-inline: 10px;
  cursor: pointer;
  opacity: 0.7;
  background-color: transparent;
  border: none;
  font-size: 15px;
}

.post-tabs .active,
.post-tabs p:not(.error):hover {
  color: var(--main-color);
  font-weight: 600;
}

.post-tabs .active {
  border-bottom: solid 2px var(--main-color);
  opacity: 1;
}

.post-tabs .error {
  font-weight: 600;
  opacity: 1;
  border-bottom: solid 2px red;
  color: red;
}

.dashboard-form .post-inputs {
  padding: 20px;
  background-color: var(--body-color);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.dashboard-form .editor-container {
  flex-direction: column;
  flex-wrap: nowrap;
}
.dashboard-form .post-inputs .inp {
  flex: 400px;
}
.dashboard-form .editor-container .inp {
  flex: 0;
}

.dashboard-form .post-inputs .editor {
  min-height: 300px;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.dashboard-form .post-inputs .editor > div {
  display: flex;
  flex-direction: column;
  background-color: var(--section-color);
  border-radius: 5px;
  overflow: hidden;
  flex: 1;
}
.dashboard-form .post-inputs .editor > div [data-pc-section="content"] {
  flex: 1;
  border-color: var(--border-color);
}
.dashboard-form .post-inputs .editor > div [data-pc-section="toolbar"] {
  border-color: var(--border-color);
}
.post-categories {
  display: flex;
  margin-bottom: 15px;
  gap: 10px;
  flex-wrap: wrap;
}
.post-categories button {
  border: solid 1px var(--main-color);
  padding: 5px 15px;
  border-radius: 20px;
  background-color: color-mix(in oklab, var(--main-color) 10%, transparent);
  color: var(--main-color);
  cursor: pointer;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 14px;
}
.post-categories button.active {
  background-color: var(--main-color);
  color: #fff;
}

.post-view-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.post-view-container main.post-main-info {
  flex: 500px 30;
}

.post-view-container .post-main-info h1 {
  font-size: 27px;
}
.post-view-container .post-main-info h1 {
  font-size: 27px;
}

.post-view-container .post-main-info .excerpt {
  background-color: var(--transparent-color);
  padding: 15px;
  border-radius: 10px;
  border-left: solid 3px var(--main-color);
}

.post-view-container .post-info {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  gap: 25px;
  background-color: var(--body-color);
  padding: 15px;
  border-radius: 10px;
  border: solid 1px var(--border-color);
  align-items: center;
}

.post-view-container .post-info .author {
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: capitalize;
}
.post-view-container .post-info .author .author-profile {
  width: 40px;
  height: 40px;
  background: linear-gradient(to bottom, var(--main-color), var(--hover-color));
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-transform: uppercase;
  overflow: hidden;
}
.post-view-container .post-info div {
  line-height: 1.2;
  font-size: 14px;
}
.post-view-container .post-info div p {
  opacity: 0.6;
  margin-bottom: 5px;
}
.post-view-container .post-info div span {
  font-weight: 500;
}
.post-view-container .cover-image {
  display: flex;
  min-height: 200px;
  max-height: 400px;
  overflow: hidden;
  background-color: var(--body-color);
  border-radius: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}
.post-view-container .cover-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.post-view-container .content a {
  text-decoration: underline;
  color: rgb(19, 19, 235);
}
.post-view-container .ql-editor {
  height: auto !important;
}
.post-view-container .tags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.post-view-container .tags p {
  width: 100%;
  opacity: 0.6;
  text-transform: uppercase;
}
.post-view-container .tags a {
  color: var(--font-color);
  padding: 5px 15px;
  white-space: nowrap;
  border: solid 1px var(--border-color);
  background-color: var(--body-color);
  cursor: pointer;
  font-size: 14px;
  border-radius: 10px;
}
.post-view-container .tags a:hover {
  background-color: var(--main-color);
  color: white;
}

.comments .title-container {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.comments .title-container h3 {
  display: flex;
  align-items: center;
  gap: 5px;
}
.comments .title-container h3 svg {
  color: var(--main-color);
  opacity: 0.7;
}

.comments .title-container p {
  opacity: 0.7;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 15px;
}
.comments .title-container p::before {
  content: attr(data-count);
  color: var(--main-color);
}
.comments form {
  padding: 20px;
  background-color: var(--body-color);
  border-radius: 10px;
}
.comments form .flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.comments form .flex-container .inp {
  flex: 200px;
}
.comments form .btn-container {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}
.comment-container {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: solid 2px var(--border-color);
  border-radius: 6px;
  padding-block: 10px;
}
.comment-container .comment {
  padding-inline: 15px;
}
.comment .actions {
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.comment .actions .menu {
  cursor: pointer;
}
.comment .actions div {
  position: absolute;
  background-color: var(--body-color);
  top: 100%;
  border-radius: 4px;
  overflow: hidden;
}

.comment .actions div p {
  font-size: 14px;
  padding: 4px;
  cursor: pointer;
  line-height: 1.4;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 5px;
}
.comment .actions p:hover {
  background-color: rgba(255, 0, 0, 0.123);
}
.comment .actions p svg {
  font-size: 12px;
  color: red;
}
.comment .actions .accept svg {
  color: green;
}
.comment .actions .accept:hover {
  background-color: rgba(0, 128, 0, 0.123);
}

.comment-container .date-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap: 10px;
  line-height: 1.1;
}
.comment-container .date-container span {
  padding: 3px 8px;
  font-size: 12px;
  border-radius: 6px;
  background-color: rgba(255, 0, 0, 0.123);
  color: red;
}
.comment-container .comment:not(:last-of-type) {
  border-bottom: solid 2px var(--border-color);
  padding-bottom: 10px;
}

.comment-container .date-container p {
  opacity: 0.6;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.comment-container .date-container p::before {
  content: "";
  width: 6px;
  height: 1px;
  background-color: var(--font-color);
}
.comment-container a {
  font-size: 15px;
  opacity: 0.7;
}

.comment-container .comment .read-more-container {
  padding-inline: 10px;
  font-size: 14px;
  line-height: 1.4;
}
.comment-container .comment-loader {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.comment-container .comment-loader span {
  width: 50px;
  height: 50px;
  border: solid 6px;
  border-radius: 50%;
  border-color: var(--border-color) var(--border-color) var(--border-color)
    transparent;
  animation: loader 1s linear infinite;
}

.post-main-info .border-bottom {
  border-bottom: solid 2px var(--border-color);
  padding-bottom: 10px;
  margin-bottom: 20px;
}
aside.post-sidebar {
  flex: 300px;
}
.post-sidebar .section-title {
  margin-bottom: 10px;
  text-transform: capitalize;
  opacity: 0.7;
  border-bottom: solid 1px var(--border-color);
  display: flex;
  align-items: center;
  gap: 5px;
}
.post-sidebar .section-title::before {
  content: "";
  width: 20px;
  height: 1px;
  background-color: var(--main-color);
}

.post-sidebar .main-info {
  background-color: var(--body-color);
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 10px;
  box-shadow: var(--box-shadow);
}

.post-sidebar .main-info > div {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
  font-size: 13px;
  padding-inline: 10px;
  padding-block: 6px;
}
.post-sidebar .main-info > div:not(:last-of-type) {
  border-bottom: solid 1px var(--border-color);
}
.post-sidebar .main-info > div p {
  opacity: 0.7;
}
.post-sidebar .main-info > div .enum {
  padding: 4px 10px;
  border-radius: 10px;
  font-size: 12px;
  color: var(--main-color);
  background: color-mix(in srgb, var(--main-color) 10%, transparent);
}
.post-sidebar .actions {
  margin-bottom: 10px;
  display: flex;
  gap: 10px;
}

.post-sidebar .section-title .author-name {
  color: var(--main-color);
  font-weight: bold;
}

.post-sidebar .more-posts {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--body-color);
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 6px;
  gap: 10px;
  align-items: center;
}

.post-sidebar .more-posts:hover {
  transform: translateY(-3px);
}

.post-sidebar .more-posts img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 4px;
}
.post-sidebar .more-posts div {
  flex: 100px;
  line-height: 1.4;
  font-size: 13px;
}
.post-sidebar .more-posts div p {
  opacity: 0.6;
}

@keyframes loader {
  100% {
    transform: rotate(365deg);
  }
}

.comment-action-buttons {
  display: flex;
  margin-bottom: 10px;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.comment-action-buttons p {
  padding: 6px 10px;
  background-color: var(--body-color);
  cursor: pointer;
  border-radius: 6px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 5px;
}
.comment-action-buttons p:hover,
.comment-action-buttons .active {
  background-color: var(--main-color);
  color: white;
}
.comment-filters {
  width: 100%;
  max-width: 700px;
  min-height: 250px;
}

.comment-filters .inp {
  flex: 200px;
}

.comment-container .more-comments {
  background-color: var(--aside-color);
  width: fit-content;
  margin: auto;
  padding: 8px 10px;
  border-radius: 6px;
  text-transform: capitalize;
  cursor: pointer;
  border: solid 1px var(--border-color);
  box-shadow: var(--box-shadow);
}

.comment-container .more-comments:hover {
  background-color: var(--main-color);
  color: white;
  border-color: transparent;
}

.original-post-action {
  opacity: 0.5;
  font-size: 15px;
}
.original-post-action a {
  margin-inline: 5px;
  font-weight: 600;
  color: var(--main-color);
}

.post-filters .post-search {
  display: flex;
  align-items: center;
  gap: 20px;
}

.post-filters .post-search .search-inp {
  background-color: var(--body-color);
  border: solid 2px var(--border-color);
  border-radius: 20px;
  flex: 200px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: text;
  padding: 11px 15px;
}

.post-filters .post-search .search-inp input {
  background-color: transparent;
  border: none;
  flex: 1;
  color: var(--font-color);
}
.post-filters .post-search .search-inp svg {
  opacity: 0.6;
}

.post-filters h1 {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 600;
  flex: 1;
  display: flex;
  align-items: center;
  gap: 10px;
}
.post-filters h1::before {
  content: attr(data-count);
  color: var(--main-color);
}
.post-filters .icons {
  display: flex;
  position: relative;
}
.post-filters .icons .post-sort {
  background-color: var(--body-color);
  position: absolute;
  top: 100%;
  min-width: 100%;
  border-radius: 5px;
  overflow: hidden;
  z-index: 2;
}
.post-filters .icons .post-sort h3 {
  font-weight: 500;
  text-transform: capitalize;
  font-size: 16px;
  padding: 4px 10px;
  cursor: pointer;
  line-height: 1.4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  white-space: nowrap;
}
.post-filters .icons .post-sort h3:hover,
.post-filters .icons .post-sort h3.active {
  background-color: var(--aside-color);
}
.post-filters .icons .post-sort h3 svg {
  font-size: 80%;
  color: var(--main-color);
}

.filters-popup {
  width: 100%;
  max-width: 1000px;
}
.overlay .popup.filters-popup .filters-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.filters-popup .btns {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
