:root {
  --dashboard-padding: 60px;
}

.dashboard-header {
  height: 80px;
  background-color: var(--body-color);
  width: 100%;
  top: 0;
  position: sticky;
  display: flex;
  align-items: center;
  color: var(--font-color);
  z-index: 4;
}

.dashboard-header .sidebar-section {
  padding: 20px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard-header.closed .sidebar-section {
  width: 90px;
}
.dashboard-header.closed .sidebar-section h2 {
  display: none;
}

.dashboard-header .sidebar-section h2 {
  display: flex;
  align-items: center;
  gap: 5px;
  text-transform: capitalize;
  font-size: 20px;
  flex: 1;
}
.dashboard-header .sidebar-section h2 svg {
  color: var(--main-color);
}

.dashboard-header .header {
  flex: 1;
  padding-inline: var(--dashboard-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  gap: 10px;
}
.dashboard-header .search {
  max-width: 600px;
}
.dashboard-header .header label {
  padding: 10px;
  display: flex;
  flex: 1;
  align-items: center;
  gap: 5px;
  border-radius: 6px;
  background-color: var(--section-color);
  font-size: 16px;
  gap: 10px;
}
.dashboard-header .header .icons {
  display: flex;
  gap: 10px;
}
.dashboard-header .header .language article {
  position: absolute;
  top: 100%;
  background-color: var(--body-color);
  box-shadow: var(--box-shadow);
  animation: fadeIn 0.4s;
}
.dashboard-header .header .language article p {
  cursor: pointer;
  padding: 5px 10px;
  line-height: 1.2;
  font-size: 15px;
}
.dashboard-header .header .language article p:hover,
.dashboard-header .header .language article .active {
  font-weight: bold;
  background-color: var(--section-color);
}

.dashboard-header .header label input {
  background-color: transparent;
  border: none;
  flex: 1;
  border-right: solid 2px var(--border-color);
}

.dashboard-container {
  flex: 1;
  display: flex;
  color: var(--font-color);
}

.dashboard-sidebar {
  width: 300px;
  background: #0f172a;
  color: white;
  position: sticky;
  top: 80px;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.closed .dashboard-sidebar {
  width: 90px;
}

.dashboard-sidebar .links {
  padding-inline: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1;
  overflow: auto;
  margin-top: 20px;
}

.dashboard-sidebar .links a {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: capitalize;
  border-radius: 10px;
  justify-content: center;
}
.dashboard-sidebar .links a span {
  flex: 1;
}
.closed .dashboard-sidebar a span {
  display: none;
}
.dashboard-sidebar .links a:hover,
.dashboard-sidebar .links a.active {
  background-color: #1e293b8c;
}
.dashboard-sidebar .user {
  background-color: rgba(0, 0, 0, 0.301);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-top: solid 1px black;
  justify-content: center;
}

.dashboard-sidebar .user .profile {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #1e293b8c;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
}

.dashboard-sidebar .user article {
  flex: 1;
  line-height: 1;
}

.dashboard-sidebar .user article h3 {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 600;
}
.dashboard-sidebar .user article p {
  margin-top: 2px;
  opacity: 0.6;
  font-size: 14px;
  text-transform: capitalize;
}
.closed .dashboard-sidebar .user article {
  display: none;
}

.dashboard-content {
  padding: 20px var(--dashboard-padding);
  flex: 1;
  width: calc(100% - 300px);
}

.dashboard-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dashboard-form .inputs-area {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
  background-color: var(--body-color);
  padding: 30px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}
.dashboard-form > .btn {
  width: fit-content;
}

.dashboard-header .search .results {
  position: absolute;
  top: calc(100% + 4px);
  width: 100%;
  background: var(--body-color);
  left: 0;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  color: var(--font-color);
  text-transform: capitalize;
  box-shadow: var(--box-shadow);
}
.dashboard-header .search .results a {
  display: flex;
  align-items: center;
  gap: 5px;
}
.dashboard-header .search .results a svg {
  color: var(--main-color);
  font-size: 85%;
}

.dashboard-header .search .results:hover a {
  opacity: 0.6;
}
.dashboard-header .search .results a:hover {
  font-weight: bold;
  opacity: 1;
  transform: translateX(10px);
}

@media (max-width: 1000px) {
  :root {
    --dashboard-padding: 43px;
  }
  .dashboard-sidebar,
  .dashboard-header .sidebar-section {
    width: 260px;
  }
  .dashboard-sidebar .links {
    padding-inline: 15px;
  }
  .dashboard-header .sidebar-section h2 {
    font-size: 17px;
  }
  .dashboard-sidebar .links a {
    padding: 8px;
    font-size: 14px;
  }
  .dashboard-sidebar .user {
    padding: 8px 10px;
  }
  .dashboard-sidebar .user .profile {
    width: 40px;
    height: 40px;
    font-size: 16px;
  }
  .dashboard-sidebar .user article h3 {
    font-size: 15px;
  }
  .closed .dashboard-sidebar,
  .dashboard-header.closed .sidebar-section {
    width: 80px;
  }
  .dashboard-header .header .icons {
    gap: 5px;
  }
  .dashboard-header .header label {
    padding: 8px;
    font-size: 13px;
  }
  .dashboard-form .inputs-area {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
    padding: 20px;
  }
  .dashboard-header .header .language article p {
    padding: 4px 8px;
    font-size: 14px;
  }
}

@media (max-width: 800px) {
  :root {
    --dashboard-padding: 28px;
  }
  .dashboard-sidebar,
  .dashboard-header .sidebar-section {
    width: 220px;
  }
  .dashboard-sidebar .links {
    padding-inline: 10px;
  }
  .dashboard-header .sidebar-section h2 {
    font-size: 15px;
  }
  .dashboard-sidebar .links a {
    padding: 6px;
    font-size: 13px;
  }
  .dashboard-sidebar .user {
    padding: 8px;
  }
  .dashboard-sidebar .user .profile {
    width: 35px;
    height: 35px;
    font-size: 15px;
  }
  .dashboard-sidebar .user article h3 {
    font-size: 13px;
  }
  .closed .dashboard-sidebar,
  .dashboard-header.closed .sidebar-section {
    width: 65px;
  }
  .dashboard-header {
    height: 70px;
  }
  .dashboard-sidebar {
    top: 70px;
    height: calc(100vh - 70px);
  }
  .dashboard-header .header label {
    padding: 7px;
    font-size: 12px;
  }
  .dashboard-header .header label input {
    font-size: 12px;
  }
  .dashboard-header .header .language article p {
    padding: 3px 6px;
    font-size: 13px;
  }
}

@media (max-width: 600px) {
  :root {
    --dashboard-padding: 18px;
  }
  .dashboard-sidebar {
    position: fixed;
    z-index: 6;
    width: 100%;
    top: 60px;
    height: calc(100vh - 60px);
  }
  .dashboard-header .sidebar-section {
    width: fit-content;
    padding: 0 10px;
  }
  .dashboard-header .sidebar-section h2 {
    display: none;
  }
  .closed .dashboard-sidebar {
    width: 0px;
    overflow: hidden;
  }
  .dashboard-sidebar .links a {
    font-size: 12px;
  }
  .dashboard-sidebar .links {
    padding-inline: 8px;
  }
  .dashboard-header {
    height: 60px;
  }
  .dashboard-header .header .icons {
    gap: 3px;
  }
  .dashboard-header .header label {
    padding: 6px;
    font-size: 11px;
    gap: 5px;
  }
  .dashboard-header .search .results {
    padding: 7px;
  }
  .dashboard-form .inputs-area {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 15px;
  }
  .dashboard-form {
    gap: 10px;
  }
  .dashboard-header .header .language article p {
    padding: 3px 5px;
    font-size: 12px;
  }
}

@media (max-width: 400px) {
  :root {
    --dashboard-padding: 8px;
  }
  .dashboard-sidebar .links a {
    font-size: 11px;
    padding: 5px;
  }
  .dashboard-sidebar .links {
    padding-inline: 6px;
  }
  .dashboard-form .inputs-area {
    grid-template-columns: 1fr;
    padding: 10px;
    gap: 8px;
  }
  .dashboard-header .header .language article p {
    padding: 2px 4px;
    font-size: 11px;
  }
}
