.about-page {
  color: var(--font-color);
}
.about-page h1 {
  text-align: center;
  color: var(--main-color);
  margin-bottom: 20px;
}

.about-page main {
  flex: 400px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  direction: rtl;
  background-color: var(--body-color);
  padding: 20px;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  box-shadow: var(--box-shadow);
}

.about-page .img {
  display: flex;
}
.about-page main div {
  flex: 400px;
}
.about-page .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.about-page main h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
.about-page main p {
  font-size: 14px;
}
.about-page main p:not(:last-of-type) {
  margin-bottom: 10px;
  border-bottom: solid 2px var(--border-color);
  padding-bottom: 10px;
}

.about-page main::before {
  background-color: var(--main-color);
  content: "";
  position: absolute;
  width: 250px;
  height: 250px;
  opacity: 0.2;
  border-radius: 50%;
  right: 0;
  top: 0;
  z-index: -1;
  transform: translate(50%, -50%);
}
.about-page main::after {
  background-color: var(--main-color);
  content: "";
  position: absolute;
  width: 250px;
  height: 250px;
  opacity: 0.2;
  border-radius: 50%;
  left: 0;
  bottom: 0;
  z-index: -1;
  transform: translate(-50%, 50%);
}
.about-contact {
  color: var(--font-color);
  text-align: center;
  margin-bottom: 40px;
}
.about-contact a {
  color: var(--main-color);
  font-weight: 600;
  font-size: 18px;
}

@media (max-width: 650px) {
  .about-page main {
    padding: 15px;
  }
  .about-page h1 {
    font-size: 25px;
  }
  .about-page main h2 {
    font-size: 17px;
  }
  .about-page main p {
    font-size: 12px;
  }
  .about-page .img {
    height: 300px;
  }
  .about-contact h2 {
    font-size: 20px;
  }
  .about-contact a {
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  .about-page main {
    padding: 10px;
  }
  .about-page h1 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .about-page main h2 {
    font-size: 15px;
    margin-bottom: 5px;
  }
  .about-page main p {
    font-size: 11px;
  }
  .about-page main p:not(:last-of-type) {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-width: 1px;
  }
  .about-page .img {
    height: 250px;
  }
  .about-contact h2 {
    font-size: 18px;
  }
  .about-contact a {
    font-size: 15px;
  }
}
