.contact-page {
  display: flex;
  flex-wrap: wrap-reverse;
  border-radius: 15px;
  overflow: hidden;
}
.contact-page > div {
  flex: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-page .inputs {
  background-color: var(--body-color);
  color: var(--font-color);
}
.contact-page .socials {
  background: linear-gradient(to right, var(--main-color), var(--hover-color));
  color: white;
}

.contact-page h2 {
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 5px;
}
.contact-page h2 svg {
  color: var(--main-color);
  font-size: 70%;
}

.arabic .contact-page h2 svg,
.contact-page .inputs .btn svg {
  rotate: 270deg;
}

.contact-page .socials .social {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.contact-page .socials a {
  display: flex;
  gap: 10px;
  align-items: center;
  flex: 300px;
}
.contact-page .socials a .icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255 255 255 / 15%);
  border-radius: 50%;
}
.contact-page .socials a p {
  opacity: 0.7;
  line-height: 1;
  text-transform: capitalize;
  font-size: 14px;
}
.contact-page .socials a h3 {
  font-size: 15px;
  font-weight: 500;
}
.contact-page .socials a:hover .icon {
  background-color: var(--main-color);
}

@media (max-width: 850px) {
  .contact-page h2 {
    font-size: 20px;
  }
  .contact-page p {
    font-size: 14px;
  }
  .contact-page > div {
    padding: 15px;
  }
  .contact-page .socials a p {
    font-size: 13px;
  }
  .contact-page .socials a h3 {
    font-size: 13px;
  }
  .contact-page .socials a .icon {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 650px) {
  .contact-page > div {
    padding: 10px;
    gap: 10px;
  }
  .contact-page h2 {
    font-size: 18px;
  }
  .contact-page p {
    font-size: 12px;
  }
  .contact-page .socials .social {
    gap: 7px;
  }
  .contact-page .socials a .icon {
    width: 30px;
    height: 30px;
    font-size: 13px;
  }
  .contact-page .socials a p {
    font-size: 12px;
  }
  .contact-page .socials a h3 {
    font-size: 12px;
  }
}

@media (max-width: 400px) {
}
