.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, var(--main-color), var(--hover-color));
  height: 75px;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.top-header .logo {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 15px;
}

.top-header .logo img {
  object-fit: contain;
  width: 100px;
}

.top-header > div {
  display: flex;
  align-items: center;
  gap: 15px;
}

.top-header .date {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(6px);
  padding: 8px 15px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.top-header .date svg {
  color: var(--secondry-color);
}
.top-header .language {
  position: relative;
}
.top-header .language .language-div {
  position: absolute;
  top: calc(100% + 5px);
  z-index: 11;
  background-color: var(--body-color);
  color: var(--font-color);
  box-shadow: var(--box-shadow);
  border-radius: 6px;
  overflow: hidden;
}
.top-header .language .language-div p {
  line-height: 1.2;
  padding: 5px;
  cursor: pointer;
  font-size: 14px;
}
.top-header .language .language-div p:hover,
.top-header .language .language-div p.active {
  background-color: var(--border-color);
}

.current-language,
.mode {
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
}

.current-language:hover,
.mode:hover {
  color: var(--secondry-color);
  transform: translateY(-2px);
}

.bottom-header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--body-color);
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.bottom-header nav {
  display: flex;
  gap: 5px;
  align-items: center;
}

.bottom-header nav .link {
  position: relative;
  padding: 7px;
  border-radius: 30px;
  font-size: 13px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--font-color);
  cursor: pointer;
}

.bottom-header nav .link:hover,
.bottom-header nav .link.active,
.bottom-header nav .link:has(.active) {
  background-color: var(--main-color);
  color: white;
}

.bottom-header nav .link article {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  min-width: 180px;
  background: var(--body-color);
  color: black;
  border-radius: 12px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
}

.bottom-header nav .link:hover article {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.bottom-header nav .link article a {
  padding: 5px 8px;
  border-radius: 6px;
  cursor: pointer;
  color: var(--font-color);
}

.bottom-header nav .link article a:hover,
.bottom-header nav .link article a.active {
  background-color: var(--main-color);
  color: white;
}

.bottom-header .search {
  display: flex;
  align-items: center;
  position: relative;
}

.bottom-header .search label {
  display: flex;
  align-items: center;
  background-color: var(--section-color);
  border-radius: 30px;
  overflow: hidden;
  transition: 0.3s ease;
  border: 1px solid transparent;
}

.bottom-header .search label:focus-within {
  border-color: var(--hover-color);
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.05);
}

.bottom-header .search input {
  border: none;
  background: transparent;
  padding: 10px 15px;
  font-size: 13px;
  outline: none;
  width: 200px;
}

.bottom-header .search button {
  padding: 10px 14px;
  background-color: var(--main-color);
  color: white;
  cursor: pointer;
  border: none;
}

.bottom-header .search .results {
  position: absolute;
  top: calc(100% + 5px);
  z-index: 2;
  background-color: var(--body-color);
  border-radius: 6px;
  overflow: auto;
  box-shadow: var(--box-shadow);
  width: 100%;
  max-height: 400px;
}

.bottom-header .search .results a {
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: solid 1px var(--border-color);
  padding: 5px 10px;
}
.bottom-header .search .results a:hover {
  background-color: var(--aside-color);
}
.bottom-header .search .results a img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.bottom-header .search .results a h5 {
  font-size: 12px;
}

.bottom-header .search .results .search-loading {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottom-header .search .results .search-loading span {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid 3px;
  border-color: var(--main-color) var(--main-color) var(--main-color)
    transparent;
  animation: search-loading 1s infinite linear;
}
.bottom-header .menu {
  display: none;
}

@keyframes search-loading {
  100% {
    rotate: 365deg;
  }
}

@media (max-width: 1000px) {
  .top-header {
    height: 65px;
  }
  .top-header > div {
    gap: 10px;
  }
  .top-header .date {
    padding: 6px 10px;
    gap: 5px;
    font-size: 13px;
  }
  .current-language,
  .mode {
    font-size: 13px;
  }
  .top-header .logo {
    font-size: 13px;
  }
  .top-header .logo img {
    width: 80px;
    height: 100%;
  }
  .bottom-header {
    height: 60px;
  }
  .bottom-header nav {
    gap: 2px;
  }
  .bottom-header nav .link {
    padding: 6px;
    font-size: 12px;
    gap: 0px;
  }
  .bottom-header .search input {
    padding: 10px;
    font-size: 12px;
    width: 150px;
  }

  .bottom-header .search button {
    padding: 9px;
    font-size: 13px;
  }
  .bottom-header nav .link article {
    min-width: 140px;
    padding: 6px;
    gap: 3px;
  }
  .bottom-header nav .link article a {
    padding: 4px 6px;
  }
  .bottom-header .search .results a {
    gap: 8px;
    padding: 3px 8px;
  }
  .bottom-header .search .results a img {
    width: 35px;
    height: 35px;
  }
  .bottom-header .search .results a h5 {
    font-size: 11px;
  }
}

@media (max-width: 850px) {
  .bottom-header .menu {
    display: flex;
  }
  .bottom-header nav {
    display: none;
    position: absolute;
    background: color-mix(in srgb, var(--body-color) 50%, transparent);
    top: calc(100% + 2px);
    flex-direction: column;
    width: 100%;
    left: 0;
    align-items: flex-start;
    backdrop-filter: blur(4px);
    padding: 10px 20px;
    animation: fadeIn 0.4s;
  }
  .bottom-header nav .link {
    width: 100%;
    border-radius: 7px;
  }
  .bottom-header nav .link div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .bottom-header nav .link article {
    min-width: auto;
    width: 100%;
    z-index: 14;
  }

  .top-header {
    height: 60px;
  }
  .top-header .date {
    padding: 5px 8px;
    font-size: 12px;
  }
  .current-language,
  .mode {
    font-size: 12px;
  }
  .top-header .logo {
    font-size: 12px;
  }
  .top-header .logo img {
    width: 70px;
    height: 100%;
  }
  .bottom-header {
    height: 55px;
  }

  .bottom-header .search input {
    padding: 8px;
    font-size: 11px;
    width: 150px;
  }

  .bottom-header .search button {
    padding: 8px;
    font-size: 12px;
  }
  .bottom-header nav .link article {
    min-width: 140px;
    padding: 6px;
    gap: 3px;
  }
  .bottom-header nav .link article a {
    padding: 4px 6px;
  }
  .bottom-header .search .results a {
    gap: 8px;
    padding: 3px 8px;
  }
  .bottom-header .search .results a img {
    width: 35px;
    height: 35px;
  }
  .bottom-header .search .results a h5 {
    font-size: 11px;
  }
  .bottom-header .search .results {
    max-height: 300px;
  }
  .bottom-header nav.open {
    display: flex;
  }
}

@media (max-width: 650px) {
  .top-header .date {
    padding: 4px 7px;
    font-size: 11px;
  }
  .top-header {
    height: 55px;
  }
  .current-language,
  .mode {
    font-size: 11px;
  }
  .top-header .language .language-div p {
    line-height: 1;
    padding: 4px;
    font-size: 12px;
  }
  .top-header .logo {
    font-size: 11px;
  }
  .top-header .logo img {
    width: 65px;
  }

  .bottom-header .search input {
    padding: 7px;
    font-size: 10px;
    width: 140px;
  }
  .bottom-header .search button {
    padding: 7px;
    font-size: 11px;
  }
  .bottom-header {
    height: 50px;
  }
}
